* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-box {
  display: none;
}

.projectListTitle {
  display: flex;
  align-items: center;
}

.newProjectBtn {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 50px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 50%;
  transition: 150ms;
}

.newProjectBtn:hover {
  background-color: rgb(230, 230, 230);
  transform: scale(1.1);
}
